#tags {
	border: 5px solid #eee;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight:bold;
	width:400px;
	background-color: #efefef;
}
#story{
      border: 5px solid #eee;
      border-radius: 5px;
      padding: 5px 10px;
      height:200px;
      float:left;
}
